<!-- <div class="container">
    <h1>
        {{title}}
    </h1>
    <button (click)="notify()">Show Notiication</button>
</div> -->
<div >
  <br>
  <mat-card>
    <button mat-raised-button color="primary" style = "background-color: purple" routerLink="/homepage">
      Home
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>home</mat-icon>    
    </button>
    <button mat-raised-button color="primary"  routerLink="/list_of_places" style = "float:right; margin-right:10px; background-color:purple">
      Back
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>keyboard_arrow_left</mat-icon>    
  </button>
    
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="stations">
      <ng-container matColumnDef="id">
        <th mat-header-cell style *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Station ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="stationName">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Station Name</th>
        <td mat-cell *matCellDef="let element"> {{element.stationname}} </td>
      </ng-container>

      <ng-container matColumnDef="availableBikes">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Available Bikes</th>
        <td mat-cell *matCellDef="let element"> {{element.availablebikes}} </td>
      </ng-container>

      <ng-container matColumnDef="availableDocks">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Available Docks</th>
        <td mat-cell *matCellDef="let element"> {{element.availabledocks}} </td>
      </ng-container>

      <ng-container matColumnDef="is_renting">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Is_Renting</th>
        <td mat-cell *matCellDef="let element"> {{element.is_renting}} </td>
      </ng-container>

      <ng-container matColumnDef="lastCommunicationTime">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Last Comm Time </th>
        <td mat-cell *matCellDef="let element"> {{element.lastCommunicationTime}} </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Latitude</th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Longitude</th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="totalDocks">
        <th mat-header-cell *matHeaderCellDef style = "font-weight: bold; font-size: 15px">Total Docks</th>
        <td mat-cell *matCellDef="let element"> {{element.totaldocks}} </td>
      </ng-container>

      <ng-container matColumnDef="dashboard">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" style="margin-left:5px; background-color:purple"  (click)="sendIDSMA(element.id)" >
              Dashboard
              &nbsp; &nbsp; &nbsp;
              <mat-icon>dashboard</mat-icon>
            </button>
          </td>
        </ng-container>

      <!-- <ng-container matColumnDef="realTimeChart">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary"  (click)="sendID(element.id)" >
            LineChart
            &nbsp; &nbsp; &nbsp;
            <mat-icon>show_chart</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <!-- <ng-container  matColumnDef="Stacked-Bar-Chart">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary"  routerLink="stacked-bar-chart" style = "margin-left:10px">
            StackedBar
            &nbsp; &nbsp; &nbsp; 
            <mat-icon>bar_chart</mat-icon>    
        </button>
        </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="sma-chart">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary"  routerLink="sma-chart" style = "margin-left:10px">
            SMAChart
            &nbsp; &nbsp; &nbsp; 
            <mat-icon>show_chart</mat-icon>    
        </button>
        </td>
      </ng-container> -->
      

      <!-- <ng-container matColumnDef="smaChart">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="sendIDSMA(element.id)" >
            SMA Chart
            &nbsp; &nbsp; &nbsp;
            <mat-icon>timeline</mat-icon>
          </button>
        </td>
      </ng-container> -->



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>



<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" >

  <!-- Possible icons to use -->
  <!--  http://maps.google.com/mapfiles/ms/icons/green-dot.png   -->
  <!--  http://maps.google.com/mapfiles/ms/icons/blue-dot.png    -->
  <!--  http://maps.google.com/mapfiles/ms/icons/red-dot.png     -->


  <!-- Google Maps Developer - Docs -->
  <!--  https://developers.google.com/maps/documentation/   -->


  <!-- Angular Google Maps - Docs -->
  <!--  https://angular-maps.com/   -->



  <!-- Angular Google Maps - Demo -->
  <!--  https://stackblitz.com/edit/angular-google-maps-demo?file=app%2Fapp.module.ts   -->



  <agm-marker *ngIf="placeSelected"
  (markerClick)="clickedMarker('placeSelected.stationName', 0)"
  [latitude]="placeSelected.latitude"
  [longitude]="placeSelected.longitude"
  [iconUrl]= "icon">

  <agm-info-window #infoWindow>
    <strong>Restaurant at: {{placeSelected.name}}</strong>

  </agm-info-window>
  </agm-marker>

  <agm-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.stationName, i)"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
    >
  
    <agm-info-window #infoWindow>
      <strong>Divvy Station</strong>
      <br><br>
      <strong>stationName: {{m.stationname}}</strong>
      <br><br>
      <strong>status: {{m.status}}</strong>
      <br><br>
      <strong>availableDocks: {{m.availabledocks}}</strong>
    </agm-info-window>


  </agm-marker>




  <agm-circle *ngIf="placeSelected" [latitude]="placeSelected.latitude" [longitude]="placeSelected.longitude"
  [(radius)]="circleRadius"
  [fillColor]="'blue'"
  [circleDraggable]="true"
  [editable]="true"></agm-circle>

  
</agm-map>

