<!-- <div #chart id="chart">
    
    <button mat-raised-button color="primary"  style = "margin:40px 0px 20px 20px"  routerLink = "/list_of_stations" >
        Back
        &nbsp; &nbsp; &nbsp; 
        <mat-icon>search</mat-icon>  
    </button>  -->
<div>

   
    <!-- <button mat-raised-button color="primary"  style = "margin-left:20px"  routerLink = "/homepage" >
        Home
        &nbsp; &nbsp; &nbsp;
        <mat-icon>home</mat-icon>
      </button>
      
      <button mat-raised-button color="primary"  style = "float:right; margin-right:20px"  routerLink = "/list_of_stations" >
        Back
        &nbsp; &nbsp; &nbsp;
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button> -->
        <div style = "margin-top:90px" #chart id = "chart"></div>
</div>
