<h2>{{ title }}</h2>
<button mat-raised-button color="primary"  style = "margin-left:20px; background-color:purple" routerLink = "/homepage" >
  Home
  &nbsp; &nbsp; &nbsp;
  <mat-icon>home</mat-icon>
</button>

<button mat-raised-button color="primary"  style = "float:right; margin-right:20px; background-color:purple"  routerLink = "/list_of_stations" >
  Back
  &nbsp; &nbsp; &nbsp;
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<div style = "margin-left:40px; margin-top:30px">
  <mat-form-field>
    <mat-label>Time Range</mat-label>
    <mat-select [(value)]="numHours" (selectionChange)="changeInterval(numHours)">
      <mat-option value="1">Past Hour</mat-option>
      <mat-option value="24">Past 24 Hours</mat-option>
      <mat-option value="168">Past 7 Days</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <input type = "checkbox" style = "margin-left:20px" class="example-margin" [(ngModel)]="checked1" (ngModelChange) = "onCheck1(checked1)"/>Past 1 Hour
  <input type = "checkbox" style = "margin-left:20px"  class="example-margin" [(ngModel)]="checked24" (ngModelChange) = "onCheck24(checked24)"/>Past 24 Hour -->
</div>
<!-- <div style = "display:inline">
    <div id="chartElm"  style = "width:50%; display:inline-block; margin-right:10px"></div>
    <div id="chartElm_1" style = "width:50%; display-inline-block"></div>
</div> -->
<!-- <div style = "text-align: left; margin-left: 50px">
    <br><br> 
    Hourly Average: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Daily Average:
    <br><br>
    
  </div> -->
<div id = "wrapper">
    <div id = "chartElm" style="width:40%; display: inline-block; margin-right: 20px; margin-left:20px; margin-bottom: 20px; "></div> <!-- Change width back to 40%-->
    <div id = "chartElm_1" style="width: 40%; display: inline-block; margin-bottom: 20px;margin-right: 20px ;"></div>
</div>

<div id = "wrapper_1">
  <div id = "lineChart" style = width:51%>
    <app-real-time-line-chart></app-real-time-line-chart>
  </div>
  
  <div id = "stacked" style = "width:37%; margin-top:120px; margin-bottom: 20px; margin-right:20px">
    <app-stacked-bar-chart></app-stacked-bar-chart>
  </div>
</div>



