<div>
  <button mat-raised-button color="primary" routerLink="/homepage" style = "margin-top:16px; margin-left:20px; background-color: purple">
      Home
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>home</mat-icon>    
    </button>
    <button mat-raised-button color="primary"  routerLink="/list_of_places" style = "float:right; margin-top:16px; margin-right:20px; background-color: purple">
      Back
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>keyboard_arrow_left</mat-icon>    
  </button>
  <div style = "text-align: left; margin-left: 50px">
      <br><br> 
      Bar Chart for Divvy Docks:
      <br><br>
      
    </div>
  <div #chart_divvy id = "chart_divvy"></div>
</div>
